{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/AppBundle.css') }}">
{% endblock %}
{% block body %}
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">
                            <a href="{{ path('app_homepage') }}">
                                SymfBlog
                            </a>
                        </h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="{{ path('app_homepage') }}">
                                        <span class="glyphicon glyphicon-home"></span> Home</a>
                                </li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}