{% block app_navigation %}
    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand">
                <a href="{{ path('app_homepage') }}">
                    SymfBlog
                </a>
            </h3>
            <nav>
                <ul class="nav masthead-nav">
                    {% if activePage == "Home" %}
                        <li class="active"><a href="{{ path('app_homepage') }}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    {% else %}
                        <li><a href="#">Home</a></li>
                    {% endif %}

                    {% if activePage == "About" %}
                        <li class="active"><a href="{{ path('app_homepage') }}"></span> About</a></li>
                    {% else %}
                        <li><a href="#">About</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}