{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/AppBundle.css') }}">
{% endblock %}

{% block body %}
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                {% include '@App/App/navigation.html.twig' with {'activePage' : ''}  %}
                <div class="inner cover">

                    {% if app.request.hasPreviousSession %}
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="flash-{{ type }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    {% block fos_user_content %}{% endblock %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}