<div class="container">
    <div class="well">
        <h1>Create a new Blog:</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <p>
                        <a class="btn btn-lg btn-primary btn-block" href="{{ path('blog_front_end_list') }}"><i class="glyphicon glyphicon-arrow-left"></i> Back to Blogs</a>
                    </p>
                </div>
            </div>

            <div class="form-container">

            </div>

        </div>
    </div>
</div>