{% if response.statusCode is defined %}
    {% set status = "success" %}
    {% set content = "Operation completed succesfully!" %}
    {% if  response.statusCode starts with '3'%}
        {% set status = "warning" %}
        {% set content = "Operation completed with warnings!" %}
    {% elseif  response.statusCode starts with '4'%}
        {% set status = "danger" %}
        {% set content = "Operation not completed due to errors!" %}
    {% endif %}

    <div class="alert alert-{{ status }}">
        {{ content }}<br>
        <a
                href="{{ path('blog_front_end_list') }}"
                class="btn btn-block btn-action">
            <i class="glyphicon glyphicon-arrow-left"> Back to Blogs List</i>
        </a>

    </div>
{% endif %}